@import "../../../mixins.scss"; 
.redstar{
    color: red;
}
.bluetext{
    color:blue;
}
.email{
    height: 35px;
    width: 690px;
    border-radius:3px;
    border: 1px solid black;
}
.password{
    height: 35px;
    width: 690px;
    border-radius: 3px;
    border: 1px solid black;
}
.loginbtn{
    width:250px;
    height: 35px;
    background: linear-gradient(
      49deg,
      rgba(0, 151, 255, 1) 14%,
      rgba(115, 0, 255, 1) 79%
    );
    color: white;
}
.Login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: #F0F1F5;
    height: 100vh;
    width: 100%;
    background: linear-gradient(49deg, rgba(0,151,255,1) 14%, rgba(115,0,255,1) 79%);
}

.labelEmail{
    text-align: left;
    width: 690px;
    padding: 0;
    margin: 0px;
}
.labelPass{
    text-align: left;
    width: 690px;
    padding: 0;
    margin-top: 20px;
}
.passtext{
    margin-top: 25px;
}
.icon{
    display: flex;
    align-items: center;
    background-color: #4286F5;
    height: 35px;
    width: 250px;
    justify-content: center;
    color: white;
}
.borderline{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 500px;
    width: 900px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}
.text{
    width: 690px;
}
h1{
    @include ssm{
        margin: 0 10px;
    }
}
@media screen and (max-width: 900px) {
.borderline{
    height: 500px;
    width: 800px;
}
}
@media screen and (max-width: 850px) {
    .borderline{
        height: 500px;
        width: 750px;
    }
    .email{
        height: 35px;
        width: 600px;
        border-radius:3px;
        border: 1px solid black;
    }
    .password{
        height: 35px;
        width: 600px;
        border-radius: 3px;
        border: 1px solid black;
        .labelEmail{
            text-align: left;
            width: 600px;
            padding: 0;
            margin: 0px;
        }
        .labelPass{
            text-align: left;
            width: 600px;
            padding: 0;
            margin-top: 20px;
        }
    }
    }
    @media screen and (max-width: 800px) {
        .borderline{
          
            width: 700px;
        }
        .email{
            width: 550px;
            
        }
        .password{ 
            width: 550px;
        }
        .labelEmail{
                width: 550px;
            }
            .labelPass{
                width: 550px;
            }
            .text{
                width: 550px;
        }
    }
    @media screen and (max-width: 700px) {
        .borderline{
          
            width: 650px;
        }
        .email{
            width: 500px;
            
        }
        .password{ 
            width: 500px;
        }
        .labelEmail{
                width: 500px;
            }
            .labelPass{
                width: 500px;
            }
            .text{
                width: 500px;
        }
    }
    @media screen and (max-width: 700px) {
        .borderline{
          
            width: 500px;
        }
        .email{
            width: 400px;
            
        }
        .password{ 
            width: 400px;
        }
        .labelEmail{
                width: 400px;
            }
            .labelPass{
                width: 400px;
            }
            .text{
                width: 400px;
        }
    }
    @media screen and (max-width: 500px) {
        .borderline{
          
            width: 400px;
        }
        .email{
            width: 300px;
            
        }
        .password{ 
            width: 300px;
        }
        .labelEmail{
                width: 300px;
            }
            .labelPass{
                width: 300px;
            }
            .text{
                width: 300px;
        }
    }
    @media screen and (max-width: 404px) {
        .borderline{
          
            width: 275px;
        }
        .email{
            width: 200px;
            
        }
        .password{ 
            width: 200px;
        }
        .labelEmail{
                width: 200px;
            }
            .labelPass{
                width: 200px;
            }
            .text{
                width: 200px;
        }
        .loginbtn{
            width:150px;
        }
        .icon{
            width: 150px;
        }
    }
        
        
        