@import "../../../mixins.scss";

.formDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .titleDiv {
    margin-top: 20px;
  }
  .descDiv {
    margin-top: 20px;
  }
  .amtDiv {
    margin-top: 20px;
  }
  .timeDiv {
    margin-top: 20px;
  }
  .submitBtnDiv {
    margin-top: 20px;
    .btnSubmit {
        cursor: pointer;
      width: 220px;
      height: 35px;
      border: 1px solid black;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        49deg,
        rgba(0, 151, 255, 1) 14%,
        rgba(115, 0, 255, 1) 79%
      );
      &:hover {
        background: linear-gradient(
          49deg,
          rgb(0, 116, 193) 14%,
          rgb(92, 0, 205) 79%
        );
      }
    }
  }
}
