.border{
    width: 901px;
    margin-top: 10px;
    margin-left: 309px;
    border: 2px solid black;
    padding: 25px;
    border-radius: 3px;
}
.job{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}